<!DOCTYPE html>
<html lang="en">

<head>
	<title>Christopher Manning</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
							<div class="shadow-lg rounded-circle bg-white rounded">
					<img src="{% static 'polls/img/profile.jpg' %}" class="rounded-circle" style='max-height:200px;'>
							</div>
				  </center>
			  </div>
			  <div class="col-sm-10">
					<br>
					<br>
				  <center>
							<div class="shadow-lg rounded-circle bg-#f7f7f7 text-center">
					<h1>Programming, Teaching, Entrepreneurship</h1>
					</div>
				  </center>
			  </div>
		</div>
		
		<hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar affix" id="sidebar" style="background-color:#f6f6f6">
			  <ul class="nav nav-tabs">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog/">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact/">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
					</ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="smurf123444@gmail.com" target="email">Contact</a> | <a href="https://www.linkedin.com/in/christopher-manning-5b7082171/" target="blank">LinkedIn</a> | <a href="https://twitter.com/realcmanning" target="blank">Twitter</a> | <a href="https://cardanoroadmap.com/" target="blank">Cardano Roadmap</a></p>
		</div>
	</footer>	
	
</body>

</html>
