<!DOCTYPE html>
<html lang="en">

<head>
	<title>Christopher Manning</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>

							<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">Christopher Manning</h5>
										<h6 class="card-subtitle mb-2 text-muted">Smart Contracts, <br/>Web Development, Blockchain, Freedom</h6>
										<p class="card-text">	<img src="{% static 'polls/img/profile1.jpg' %}" class="rounded-circle" style='max-height:190px;'></p>
										<a href="https://www.facebook.com/christopher.manning.184" class="card-link">Facebook</a>
										<a href="https://github.com/smurf123444" class="card-link">Github</a>
									</div>
								</div>
							<div class="shadow-lg rounded-circle bg-white rounded">
				
							</div>
				  </center>
			  </div>
			  <div class="col-sm-10">
					<br>
					<br>
				  <center>
							<div class="shadow-lg rounded-circle bg-#f7f7f7 text-center">
					<h1>Learning how to code.</h1>
					{% now "SHORT_DATETIME_FORMAT" %}

					</div>
					{% if user.is_authenticated %}
				<br />
					<div class="container">
					<div class="alert alert-success" role="alert">
							<h4 class="alert-heading">Logged in</h4>
							<hr>
							<p>{{user.username}}</p>
						</div>
						{% endif %}
				</center>
				<br />
				<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
		{
		"symbols": [
		  {
			"description": "Ethereum Classic",
			"proName": "BITFINEX:ETCUSD"
		  },
		  {
			"description": "EOS",
			"proName": "BITFINEX:EOSUSD"
		  },
		  {
			"description": "Basic Attention Token",
			"proName": "BITFINEX:BATUSD"
		  },
		  {
			"description": "Bitcoin",
			"proName": "BITFINEX:BTCUSD"
		  },
		  {
			"description": "Tezos",
			"proName": "BITFINEX:XTZUSD"
		  },
		  {
			"description": "Bitcoin Cash",
			"proName": "BITFINEX:BCHUSD"
		  },
		  {
			"description": "Cardano",
			"proName": "BINANCE:ADAUSD"
		  }
		],
		"locale": "en"
	  }
		</script>
	  </div>
	  <!-- TradingView Widget END -->
				</div>
			
		</div>
		<hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

			<br>
			
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar affix" id="sidebar" style="background-color:#f6f6f6">
			  <ul class="nav nav-tabs">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog/">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact/">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">User/Login</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/chat">Chat</a>
						</li>
						{% endif %} 	
					</ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="smurf123444@gmail.com" target="email">Contact</a> | <a href="https://www.linkedin.com/in/christopher-manning-5b7082171/" target="blank">LinkedIn</a> | <a href="https://twitter.com/realcmanning" target="blank">Twitter</a> | <a href="https://cardanoroadmap.com/" target="blank">Cardano Roadmap</a></p>
		</div>
	</footer>	
	
</body>

</html>
